#places {
    padding: 47px 0 0;
}
#places #header{
    padding-bottom: 0;
}
#places #header .nav-container{
    margin: 0 0 115px;
}

@media screen and (max-width: 990px){
    #places #header .nav-container{
        margin: 0 0 27px;
    }
}    
@media screen and (max-width: 670px){
    #places {
        padding: 32px 0 0;
    }
}    